html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
    background: #080808;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-shadow: -1px -1px 0 #001BFF, 2px -1px 0 #001BFF, -1px 2px 0 #001BFF, 2px 2px 0 #001BFF;
    text-align: center;
    font-size: 3rem;
    color: black;
    padding-top: 60px;
}

.rotate {
    top: 50%;
    left: 50%;
    border-radius: 100%;
    border: 5px solid #001BFF;
    transition: transform ease-in-out 0.2s;
}

.rotate:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: scale(1.1) rotate(360deg);
}
